{% extends 'base.html' %}
{% load django_bootstrap5 %}


{% block title %}Checkout{% endblock %}

{% block content %}
<h1 class="mb-4">Informazioni per l'Ordine</h1>
<div class="row">
    <div class="col-md-7">
        <form method="post" class="needs-validation" novalidate>
            {% csrf_token %}

            {% bootstrap_form form %}

            <hr class="my-4">
            <button class="w-100 btn btn-primary btn-lg rounded-3" type="submit">Completa Ordine</button>
        </form>
    </div>
    <div class="col-md-5 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-primary">Il tuo carrello</span>
            <span class="badge bg-primary rounded-pill">{{ cart|length }}</span>
        </h4>
        <ul class="list-group mb-3">
            {% for item in cart %}
            <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                    <h6 class="my-0">{{ item.product.name }}</h6>
                    <small class="text-muted">Quantità: {{ item.quantity }} x {{ item.price }} €</small>
                </div>
                <span class="text-muted">{{ item.total_price }} €</span>
            </li>
            {% endfor %}
            <li class="list-group-item d-flex justify-content-between">
                <span class="fw-bold">Totale (EUR)</span>
                <strong class="fw-bold">{{ cart.get_total_price }} €</strong>
            </li>
        </ul>
    </div>
</div>
{% endblock %}