{% extends "base.html" %}
{% load django_bootstrap5 %}


{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card shadow-lg p-4">
                <h2 class="text-center mb-4">Accedi</h2>
                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form form layout="floating" %}
                    <div class="d-grid gap-2">
                        {% bootstrap_button button_type="submit" content="Login" %}
                    </div>
                </form>
                <div class="text-center mt-3">
                    <small class="text-muted">Non hai un account? <a href="{% url 'users:register' %}" class="text-decoration-none">Registrati ora</a></small>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}