<!-- products/templates/products/product_detail.html -->
{% extends 'base.html' %}
{% load django_bootstrap5 %}


{% block title %}{{ product.name }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 mb-4">
        {% if product.image %}
            <img src="{{ product.image.url }}" class="img-fluid rounded-3 shadow-sm" alt="{{ product.name }}">
        {% else %}
            <img src="https://placehold.co/600x400/cccccc/333333?text=Nessuna+Immagine" class="img-fluid rounded-3 shadow-sm" alt="Nessuna Immagine">
        {% endif %}
    </div>
    <div class="col-md-6">
        <h1 class="display-5">{{ product.name }}</h1>
        <p class="text-muted fs-6">{{ product.category.name }}</p>
        <h3 class="fw-bold text-primary mb-3">{{ product.price }} €</h3>
        <p class="lead">{{ product.description }}</p>


        {% if product.available %}
            <p class="text-success">In Stock</p>

            <form action="{% url 'orders:cart_add' product.id %}" method="post" class="mt-4">
            {% csrf_token %}
            <div class="input-group mb-3">
                {% bootstrap_form cart_product_form exclude=override layout='inline' %}
            </div>

            <button type="submit" class="btn btn-primary btn-lg rounded-3">Aggiungi al Carrello</button>
        </form>
        {% else %}
            <p class="text-danger">Non In Stock</p>
        {% endif %}

        <a href="{% url 'products:product_list' %}" class="btn btn-outline-secondary mt-4 rounded-3">Torna ai Prodotti</a>
    </div>
</div>
{% endblock %}